.flexbox-men {
  width: 40%;
  background: rgba(217, 217, 217, 0.26);
  padding: 50px;
  border-radius: 20px;
}

.flexbox-size {
  display: flex;
  flex-direction: row;
  border: none;
  column-gap: 16px;
}

.flexbox-item {
  width: 40%;
}

.flexbox-container-men {
  display: flex;
  align-items: stretch;
  padding: 80px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flexbox-description-men {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 42px;
  padding: 17px;
  width: 40em;
  justify-content: space-evenly;
  row-gap: 15px;
}

.flexbox-description-men h2 {
  font-size: 30px;
}

.flexbox-description-men hr {
  width: 100%;
}

a:hover {
  background-color: #0099a3;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

a {
  text-decoration: none;
  color: black;
}

.button-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 35px;
}

.flexbox-container-men p {
  font-size: 22px;
}

button {
  padding: 11px 25px 11px 25px;
  font-size: 26px;
  border: 1px #185361 solid;
  border-radius: 10px;
  background-color: white;
}

button:hover {
  background-color: #0099a3;
}

input {
  display: none;
}

label {
  width: auto;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  padding: 5px 20px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 0;
}

input:checked + label {
  background-color: #185361;
  color: white;
}

input + label:hover {
  background-color: #185361;
  color: white;
  transition: 0.4s;
}

.reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: flex-start;
  border: 1px solid rgba(14, 73, 87, 1);
  letter-spacing: 1px;
  width: fit-content;
  font-size: 18px;
  padding: 43px;
  margin: 2em 18em;
  border-radius: 12px;
  color: rgba(14, 73, 87, 1);
}

@media screen and (max-width: 900px) {
  .flexbox-item {
    width: 100%;
  }

  .flexbox-container-men {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    width: auto;
  }

  .flexbox-description-men hr {
    width: 100%;
    margin: 15px;
  }

  .flexbox-description-men h2 {
    font-size: 40px;
    margin: 15px;
  }

  .flexbox-container-men h1 {
    font-size: 25px;
  }

  .flexbox-size {
    display: flex;
    flex-direction: row;
    border: none;
    column-gap: 16px;
    row-gap: 16px;
    flex-wrap: wrap;
  }

  .button-div {
    row-gap: 10px;
    margin: 15px;
  }

  .description-jacket {
    padding: 20px;
    text-align: center;
    font-size: 22px;
  }

  .similar-products {
    flex-direction: row;
    align-items: stretch;
    overflow-x: auto;
    justify-content: flex-start;
    white-space: nowrap;
    column-gap: 5px;
    padding: 9px 34px;
  }

  .similar-products img {
    flex-shrink: 0;
  }

  .similar-products img {
    width: 50%;
    padding: 10px;
  }

  .view-details {
    display: none;
  }

  .reviews {
    width: 100%;
    margin: 0;
    padding: 20px;
    font-size: 20px;
    line-height: 30px;
  }
}
