.cart-count {
  position: absolute;
  background-color: #16c3c9;
  top: 36px;
  right: 17px;
  padding: 1px 6px;
  height: 19px;
  width: 19px;
  line-height: 20px;
  border-radius: 50%;
  z-index: 99;
}

.cart-active {
  right: 0;
  transition: 0.5s;
}

.cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
  z-index: 100;
}

.cart-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.btn-buy {
  padding: 12px 20px;
  background-color: #2f3542;
  color: #fff;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.detail-box {
  display: grid;
  row-gap: 0.5rem;
}

.title-close {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#cart-remove {
  font-size: 24px;
  color: red;
  cursor: pointer;
}

.cart-boxes img {
  width: 100%;
}

.cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
  z-index: 100;
}

.cart-active {
  right: 0;
  transition: 0.5s;
}

.add-cart {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #10e669;
  color: white;
  padding: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.5s;
}

.add-cart:hover {
  background-color: rgba(255, 0, 0, 0.786);
}

.cart-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.cart-boxes {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  cursor: pointer;
}

.cart-img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
  cursor: pointer;
}
.detail-box {
  display: grid;
  row-gap: 0.5rem;
}

.price-box {
  display: flex;
  justify-content: space-between;
}

.cart-food-title {
  font-size: 1rem;
  text-transform: uppercase;
  color: #ff6348;
  font-weight: 500;
}

.cart-price {
  font-weight: 500;
}

.cart-quantity {
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}

.cart-boxes i.fa-regular.fa-trash-can {
  font-size: 24px;
  color: red;
  cursor: pointer;
}

.total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 1.5rem;
  row-gap: 5px;
}

.total-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.total-price {
  margin-left: 0.5rem;
}

.inline-trash {
  display: flex;
  justify-content: space-between;
}

.btn-buy {
  padding: 12px 20px;
  background-color: #2f3542;
  color: #fff;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

#cart-close {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .cart-count {
    top: 43px;
  }

  .cart {
    right: -139%;
  }
}
