
  .contact {
    color: rgba(14, 73, 87, 1);
    font-size: 50px;
    font-weight: 200;
    position: absolute;
    left: 45%;
    margin: 20px;
  }

.contact-option1 {
    position: relative;
    font-size: 30px;
    top: 210px;
    color: rgba(14, 73, 87, 1);
    font-weight: 200;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding-left: 400px;
}

.fill-out {
    font-size: 25px;
}

.contact-form { 
  max-width: 420px;
  margin: 180px auto;
  margin-left: 800px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

  input[type="email"] {
    border: 1px solid black;
    padding: 10px 20px 10px 20px;
    border-radius: 2px;
  }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  
  [type="submit"] {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background:rgba(14, 73, 87, 1);
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background: #50B3CA; }

  .contact-option2 {
    position: relative;
    font-size: 30px;
    bottom: 100px;
    color: rgba(14, 73, 87, 1);
    font-weight: 200;
    padding-bottom: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 0 0 0 400px ;
  }

  .customer-service-options {
    position: relative;
    margin-left: 800px;
    list-style: none;
    line-height: 60px;
    font-size: 25px;
    bottom: 150px;
    padding-bottom: 10px;
  }

  .customer-service-options li {
    border-bottom: 0.5px solid black ;
    width: 50%;
  }

.chat-now {
  color: rgba(14, 73, 87, 1);
  text-decoration: none;
  border: 1px solid rgba(14, 73, 87, 1);
  padding: 11px 20px;
  border-radius: 10px;
}

  .contact-option3 {
    position: relative;
    font-size: 30px;
    bottom: 100px;
    color: rgba(14, 73, 87, 1);
    font-weight: 200;
    padding-bottom: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 0 0 0 400px;
    padding-top: 50px;
  }

  @media only screen and (max-width: 1300px) {
    .contact {
      font-size: 35px;
      left: 28%;
      padding: 20px;
      margin: 10px;
    }
  
    .contact-option1 {
    padding: 10px;
    font-size: 25px;
    top: 90px;
    }
  
    .contact-form {
      margin: 69px 0 0;
      padding: 44px;
    }

    .chat-now {
      padding: 10px;
      display: flex;
      width: fit-content;
    }
  
    .contact-option2 {
      font-size: 25px;
      top: 0;
      padding: 10px;
    }
  
    .customer-service-options {
      padding: 19px;
      top: 0;
      margin: 0;
      font-size: 20px;
    }
  
  
    .contact-option3 {
      font-size: 25px;
      margin-bottom: 20px;
      top: 20px;
      padding: 10px;
    }

    .hr-faq {
      width: 100%;
    }
  }