/* MAIN */
main {
  height: 4036px;
}

.men-container {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.men-img {
  display: block;
  position: absolute;
  top: -50px;
  left: -50px;
  width: 1730px;
  height: 458px;
  object-fit: cover;
  clip: rect(0px, 1787px, 437px, 0px);
}

.flexbox-description a {
  color: black;
  text-decoration: none;
}

.btn-men {
  background-color: #185361;
  font-size: 20px;
  padding: 20px 30px 20px 30px;
  border-color: #185361;
  color: white;
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.ski-img {
  display: block;
  position: absolute;
  top: 542px;
  width: 100%;
  height: 480px;
  object-fit: cover;
  padding: 10px;
}

.ski-title {
  color: #185361;
  font-size: 50px;
  font-weight: 900;
  width: min-content;
  line-height: 61px;
  position: relative;
  padding-left: 300px;
  top: 129px;
  right: 190px;
  letter-spacing: 3px;
}
.flexbox-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  column-gap: 40px;
  top: 337px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding-left: 40px;
}

.flexbox-container-hiking-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  column-gap: 40px;
  top: 260px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding-left: 50px;
}

.flexbox-container-canoeing-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  column-gap: 40px;
  top: 205px;
  padding-left: 50px;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.flexbox-container::-webkit-scrollbar, .flexbox-container-hiking-section::-webkit-scrollbar, .flexbox-container-canoeing-section::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.flexbox-description, .flexbox-description-hiking-section, .flexbox-description-canoeing-section {
  display: flex;
  flex-direction: column;
  background: rgba(217, 217, 217, 0.26);
  position: relative;
  align-items: stretch;
  border-radius: 11px;
  flex: 0 0 auto;
  width: 300px;
  margin-right: 10px;
}

.flexbox-description-hiking-section p,
 hr, .flexbox-description-canoeing-section p, hr {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  padding-left: 20px;
}

.hiking-img {
  display: flex;
  position: relative;
  top: 350px;
  width: 100%;
  height: 480px;
  object-fit: cover;
  padding: 10px;
}

.canoeing-img {
  display: flex;
  position: relative;
  top: 290px;
  left: 0;
  width: 100%;
  height: 480px;
  object-fit: cover;
  padding: 10px;
}

.hiking-title {
  color: #185361;
  font-size: 50px;
  font-weight: 900;
  width: min-content;
  line-height: 61px;
  position: relative;
  padding-left: 300px;
  top: 129px;
  right: 190px;
  letter-spacing: 3px;
}

.canoeing-title {
  color: white;
  font-size: 50px;
  font-weight: 900;
  width: min-content;
  line-height: 61px;
  position: relative;
  padding-left: 300px;
  top: 0;
  letter-spacing: 3px;
}

@media screen and (max-width: 992px) {
    main {
      height: auto;
    }
  
  .men-img {
      width: 100%;
      height: 200px;
      position: relative;
      top: 0;
      left: 0;
    }
  
    .btn-men {
      position:relative;
      bottom: 77px;
    }
  
    .ski-img {
      width: 100%;
      height: 229px;
      object-fit: cover;
      top: 352px;
    }
  
    .hiking-img {
      width: 100%;
      height: 229px;
      object-fit: cover;
      top: -120px;
    }

    .canoeing-img {
      width: 100%;
      height: 229px;
      object-fit: cover;
      top: -100px;
    }

    .ski-title {
      text-align: start;
      top: -168px;
      font-size: 30px;
      right: 8em;
    }
  
    .hiking-title {
      text-align: start;
      top: -280px;
      font-size: 30px;
      right: 8em;
    }

    .canoeing-title{
      top:-280px;
      font-size: 30px;
    }

    .flexbox-container, .flexbox-container-hiking-section, .flexbox-container-canoeing-section {
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    top: -129px;
    }
      
    .flexbox-description, .flexbox-description-hiking-section, .flexbox-description-canoeing-section {
      width: 40%;
      margin-right: 0;
    }   
}