/* Main */
main {
    height: 3200px;
}

.about-us-container,
.our-blog-container {
    position: relative;
  }

.img-about-us img {
    display: block;
    object-fit: fill;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    object-fit: cover;
    position: absolute;
    clip: rect(0px, 2330px, 987px, 0px);
    padding-bottom: 10px;
}

.img-our-blog img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    clip: rect(236px, 2327px, 1342px, 0px);
    top: 752px;
}

/* text inside the about us img */
h1 {
    color: rgba(14, 73, 87, 1);
    font-size: 40px;
    font-weight: 200;
    padding-bottom: 25px;
}

.about-us-text {
    color: rgba(14, 73, 87, 1);
    font-size: 18px;
    text-align: start;
    letter-spacing: 1px;
    line-height: 200%;
    position: absolute;
    left: 42%;
    padding: 170px;
    transform: translate(-74%, -7%);
}

.our-blog-text {
    letter-spacing: 1px;
    line-height: 200%;
    position: absolute;
    left: 60%;
    top: 750px;
    padding: 19px;
    transform: translate(-135%, 126%);
    background-color: rgba(238, 238, 238, 0.8);
    color: rgba(14, 73, 87, 1);
}

.post {
    text-decoration: underline rgba(14, 73, 87, 1);
}

.our-blog-flexbox {
    display: flex;
    position: relative;
    top: 1850px;
}

.our-blog-flexbox img{
    clip: rect(-1px, 1136px, 757px, 100px);
    width: 50%; 
}

.our-blog-container-2 {
    display: flex;
    position: relative;
    top: 1850px;

}

.our-blog-container-2 img {
    width: 50%; 
}

#follow-us-social {
    position: absolute;
    bottom: 270px;
    right: 50px;
    align-self: center;
    margin-left: 1003px;
    margin-right: 78px;
    line-height: 100px;
    font-size: 55px;
    text-align: center;
}
  
.social-media {
    position: absolute;
    bottom: 200px;
    right: 218px;
    font-size: 53px;
}

@media screen and (max-width: 900px) {
    .img-about-us img{
        width: 100%;
        height: 390px;
    }

    .about-us-text {
    font-size: 15px;
    text-align: center;
    left: 38%;
    padding: 20px;
    transform: translate(-31%, 50%);
    }

    .img-our-blog img {
    width: 100%;
    height: 670px;
    top: 1042px;
    }

    .our-blog-text {
        font-size: 18px;
        left: 0;
        padding: 62px;
        transform: translate(0%, 222%);
    }

    .our-blog-flexbox,.our-blog-container-2  {
        top: 2160px;
    }

    #follow-us-social {
    top: 33px;
    font-size: 31px;
    line-height: 1.5;
    padding-left: 321px;
    margin: 0;
    }
    

    .social-media {
        top: 185px;
        font-size: 30px;
        left: 343px;
        right: 0;
    }

}
