/* home-img */
.container-home {
  position: relative;
}
    
.container-home img {
   display: block;
    object-fit: fill;
    width: 100%;
    height: auto;
   padding-bottom: 10px;       
 }
 
/* text inside the home-img */
 
.join-now {
 color: rgba(24, 83, 97, 1);
   font-size: 40px;
 text-align: center;
 letter-spacing: 4px;
 line-height: 150%; 
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 vertical-align: middle;
}

/* join now cta */
 
.btn-join {
 background-color: #50B3CA;
 color: #fff;
 font-size: 30px;
 border: 2px solid #50B3CA;
 border-radius: 8px;
 width: 346px;
 height: 85px;
 position: absolute;
 top: 63%;
 left: 50%;
 transform: translate(-50%, -50%);
 text-align: center;
 vertical-align: middle;
}
   
   .btn-join:hover {
     background-color: white;
     color: #50B3CA;
     border: 2px solid #50B3CA;
     border-radius: 8px;
     position: absolute;
     font-size: 30px;
     width: 346px;
     height: 85px;
     position: absolute;
     top: 63%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
     vertical-align: middle;
   }

/* Media query for smaller screens */
@media only screen and (max-width: 992px) {
    .join-now {
      font-size: 12px;
      letter-spacing: 1px;
      top: 65%;
      transform: translate(-50%, -80%);
    }

    .btn-join,
    .btn-join:hover {
        font-size: 14px;
        width: 30%;
        max-width: none;
        height: 13%;
        max-height: none;
        top: 80%;
        transform: translate(-50%, -80%);
    }

  }
  

/*  AUTUMN SEASON + WINTER SEASON */
  .btn-autumn {
    background-color: #FDB833;
    color: #fff;
    font-size: 1.5em;
    width: 30%;
    height: 12%;
    position: absolute;
    border: solid #FDB833;
    border-radius: 8px;
    bottom: 2%;
    right: 7%;
    text-align: center;
    max-width: 40%;
  }
  
  .btn-autumn:hover {
    background-color: white;
    color: #FDB833;
    border: 2px solid #FDB833;
    border-radius: 8px;
  }
  
.img-container-winter {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;   
  }
  
.img-container-winter img{
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

.img-container-autumn {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
  }
  
  .img-container-autumn img {
    width: 100%;
    max-height: 560px;
    max-width: 100%;
    object-fit: cover; 
  }

.btn-winter {
    background-color: #185361;
    color: #fff;
    font-size: 1.5em;
    width: 30%;
    height: 12%;
    position: absolute;
    border: solid #185361;
    border-radius: 8px; 
    bottom: 2%;
    right: 8%;
    text-align: center;
    max-width: 40%;
}

.btn-winter:hover {
    background-color: white;
    color:  #185361;
    border: 2px solid  #185361;
    border-radius: 8px;    
  }

  @media only screen and (max-width: 992px) {
    .img-container-autumn,
    .img-container-winter{
      width: 100%;
      height: auto;
    }

    .img-container-winter{
      margin-bottom: 3rem;
    }

   .btn-winter,  .btn-autumn  {
      font-size: 20px;
      width: 42%;
      height: 14%;
      position: absolute;
      bottom: 2%;
      right: 6px;
      text-align: center;
    } 

    .btn-winter:hover,  .btn-autumn:hover {
      font-size: 20px;
      width: 42%;
      height: 14%;
      position: absolute;
      bottom: 2%;
      right: 6px;
      text-align: center;
    }


  }

/* BESTSELLERS  */

.bestseller {
  font-weight: 300;
  font-size: 27px;
  color: rgba(14, 73, 87, 1);
  letter-spacing: 0.25px;
  text-decoration: underline;
  margin: 41%;
  display: block;
  
}

.flexbox-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  column-gap: 40px;
  bottom: 700px;
  padding: 8em;

}

.flexbox-description {
  display: flex;
  flex-direction: column;
  background: rgba(217, 217, 217, 0.26);
  position: relative;
  align-items: stretch;
  border-radius: 11px;
}

/* ADD MEDIA QUERY FOR BESTSELLER SECTION */

@media screen and (max-width: 992px) {


  h1 {
    font-size: 25px;
  }
  
  .bestseller {
    padding: 20px;
  }

  .flexbox-container {
    flex-direction: column;
    bottom: 200px;
    padding: 4em;
    gap: 10px;
  }
  
  .flexbox-description {
    border-radius: 6px;
  }
}