main {
    height: 99em;
}

.about-title {
    padding-left: 30px;
    margin-left: 88px;
    padding-top: 26px;
    color: #185368;
}

.img-about-us img {
    width: 50%;
    right: 0;
    position: absolute;
    object-fit: cover;
    height: 29em;
}

.about-paragraph {
    width: 44%;
    line-height: 2;
    font-size: 18px;
    padding-left: 116px;
    padding-top: 13px;
    color: #185368;
}

/* .our-blog-container {
    position: relative;
} */

.our-blog-text {
    line-height: 2;
    font-size: 18px;
    right: 75px;
    position: absolute;
    margin-top: 136px;
    color: #185368;
    max-width: 38em;
}

.flexbox-img-1-blog {
    width: 50%;
    position: absolute;
    left: 0;
    padding-top: 62px;
    object-fit: cover;
}

.fa-brands{
    color: #185368;
    font-size: 35px;
} 

.post {
    text-decoration: underline rgba(14, 73, 87, 1);
}

.our-blog-flexbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    top: 38.8em;
    position: relative;
}

.our-blog-flexbox img {
    width: 50%;
    object-fit: cover;
}

.img-crop {
    height: 35em;
}

 .follow-us-social {
    padding-top: 27px;
}



@media screen and (max-width: 900px) {
main {
    height: auto;
}

    .img-about-us img{
        width: 100%;
        height: 390px;
    }

    .about-paragraph{
        position: relative;
        width: auto;
        padding-left: 15px;
        padding-right: 11px;
        top: 22em;
    }

    .about-title {
        top: 12em;
        position: relative;
    }

    .flexbox-img-1-blog {
        width: 100%;
        top: 0;
        height: 23em;
        position: absolute;
    }

    .our-blog-container {
        position: relative;
        top: 17em;
    }

    .our-blog-text {
        position: relative;
        top: 379px;
        padding: 20px;
        left: 0;
        width: auto;
        margin-bottom: 6em;
    }

    .our-blog-flexbox {
        position: relative;
    }
}