/* home-img */
.container-home {
  position: relative;
}
    
.container-home img {
   display: block;
    object-fit: fill;
    width: 100%;
    height: auto;     
 }
 
/* text inside the home-img */
 
.join-now {
 color: rgba(24, 83, 97, 1);
   font-size: 40px;
 text-align: center;
 letter-spacing: 4px;
 line-height: 150%; 
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 vertical-align: middle;
}

/* join now cta */
 
.btn-join {
 background-color: #50B3CA;
 color: #fff;
 font-size: 30px;
 border: 2px solid #50B3CA;
 border-radius: 8px;
 width: 346px;
 height: 85px;
 position: absolute;
 top: 63%;
 left: 50%;
 transform: translate(-50%, -50%);
 text-align: center;
 vertical-align: middle;
}
   
   .btn-join:hover {
     background-color: white;
     color: #50B3CA;
     border: 2px solid #50B3CA;
     border-radius: 8px;
     position: absolute;
     font-size: 30px;
     width: 346px;
     height: 85px;
     position: absolute;
     top: 63%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
     vertical-align: middle;
   }

/* Media query for smaller screens */
@media only screen and (max-width: 992px) {
    .join-now {
      font-size: 12px;
      letter-spacing: 1px;
      top: 65%;
      transform: translate(-50%, -80%);
    }

    .btn-join,
    .btn-join:hover {
        font-size: 14px;
        width: 30%;
        max-width: none;
        height: 13%;
        max-height: none;
        top: 80%;
        transform: translate(-50%, -80%);
    }

  }
  

/*  AUTUMN SEASON + WINTER SEASON */
  .btn-autumn {
    background-color: #FDB833;
    color: #fff;
    border: solid #FDB833;
    border-radius: 8px;
  }
  
  .btn-autumn:hover {
    background-color: white;
    color: #FDB833;
    border: 2px solid #FDB833;
    border-radius: 8px;
  }
  
.img-container-winter {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;   
  }
  
.img-container-winter img{
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

.img-container-autumn {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
  }
  
  .img-container-autumn img {
    width: 100%;
    max-height: 560px;
    max-width: 100%;
    object-fit: cover; 
  }

.btn-winter {
    background-color: #185361;
    color: #fff;
    border: solid #185361;
    border-radius: 8px; 
}

.btn-autumn, .btn-winter {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-size: 2.0rem;
  width: 327px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.btn-winter:hover {
  background-color: #fff;
  color: #185361;
}

.container-seasons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container img {
  margin: 0 20px;
}

.bestsellers h1 {
  margin: 35px;
  font-weight: 300;
  font-size: 27px;
  color: rgba(14, 73, 87, 1);
  letter-spacing: 0.25px;
  text-decoration: underline;
}

  @media only screen and (max-width: 900px) {
    .img-container-autumn,
    .img-container-winter{
      width: 100%;
      height: auto;
    }

    .img-container-winter{
      margin-bottom: 3rem;
    }

   .btn-winter,  .btn-autumn  {
    font-size: 1.5rem;
    width: 46%;
    height: 31%;
    } 
  }

/* BESTSELLERS  */

.flexbox-container {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  padding-top: 109px;
  padding-bottom: 60px;
  flex-direction: row;
}

.flexbox-description {
  display: flex;
  flex-direction: column;
  background: rgba(217, 217, 217, 0.26);
  position: relative;
  align-items: stretch;
  border-radius: 11px;
  width: 300px;
}

/* ADD MEDIA QUERY FOR BESTSELLER SECTION */

@media screen and (max-width: 900px) {


  h1 {
    font-size: 25px;
    text-align: center;
  }
  
  .bestseller h1 {
    padding: 20px;
    text-align: center;
  }

  .flexbox-container {
    flex-direction: column;
    padding: 4em;
    gap: 10px;
    align-items: center;
  }
  
  .flexbox-description {
    border-radius: 6px;
  }
}